
<style>
        div.relative {
          position: relative;
          left: 30px;
        }
        h1 {
                color: red;
                text-align: center;
        }
 </style>
 <h1>Welcome To Insurance Verification</h1>
 <div class="relative">
<div class="row">
    <!-- <div class="col-md-5"> -->
            <ul class="nav nav-tabs">
                    <!-- <li role="presentation"> -->
                    <a routerLink="/home">Home</a>
                    <!-- </li> -->
                    <!-- <li role="presentation"> -->
                    <a routerLink="/doctors">Doctor</a>
                    <!-- </li> -->
                    <!-- <li role="presentation"> -->
                    <a routerLink="/agents">Agent</a>
                    <!-- </li> -->
            </ul>
          
    <!-- </div> -->
</div>
</div>