<!-- <h2>Enter Patient Details</h2>
<label>Patient ID</label>
<input type="text" 
class="form-control"
[(ngModel)]="PatientID">

<label>Name</label>
<input type="text" 
class="form-control"
[(ngModel)]="PatientName">

<label>Age</label>
<input type="text" 
class="form-control"
[(ngModel)]="PatientAge">

<button 
class="btn btn-primary"
(click)="oncreateID()">Add Patient</button>
<p>{{IDcreationstatus}}</p>
<p>{{Namecreationstatus}}</p>
<p>{{Agecreationstatus}}</p>
  -->
<!-- <div class="row">
    <div class="col-md-10"> -->
<!-- <html>
<style>
 -->

<!-- </style> -->

<body>

<div class="two">
    <h2>Welcome Doctor</h2>
 <div class="one">
    <h3><strong>Patient Details</strong> </h3>
 
    <label for="PatientID">Patient ID</label>
    <input type="text"   class="form-control"  [(ngModel)]="PatientID" placeholder="Enter ID..">

    <label for="PatientName">Name</label>
    <input type="text"  class="form-control"  [(ngModel)]="PatientName" placeholder="Enter Name..">

    <label for="PatientAge">Age</label>
    <input type="text"   class="form-control"  [(ngModel)]="PatientAge" placeholder="Enter Age..">
  
    <button  class="button button1" (click)="oncreateID()"><strong>Add Patient</strong></button>
 
 </div>
</div>
</body>

<p>{{IDcreationstatus}}</p>
<p>{{Namecreationstatus}}</p>
<p>{{Agecreationstatus}}</p>
<!-- </div>
</div> -->
<!-- </html> -->
