input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0px;
    display: inline-block;
    border: 1px solid rgb(40, 187, 245);
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 20px;
  }
  h2 {
    color: seagreen;
}
  
  .button {
    background-color: #ffffff; 
    border: 2px solid #ff7b91;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
  .button1:hover {
    background-color: #4CAF50;
    color: white;
    
  }
  div.one {
      
    width: 450px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px;
    border-radius: 30px;
    /* background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    /* background-color: #1fffdd; */
    padding: 20px 30px 20px;
    text-align: center;
    border-style: solid;
    border-color: #4CAF50;
  }
  div.two{
      background-image: url("https://images.pexels.com/photos/1484759/pexels-photo-1484759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      background-color: #00ebc7;
      width: 100%;
      height: 600px;
  }
  h3 {
      font-family: serif;
      font-size: x-large;
      color: #00214d;
  }
  label {
      font-size: medium;
      font-family: sans-serif;
      color: rgb(5, 81, 194);
  }
 